*          text=auto
.husky/*   text eol=lf
*.bat      text eol=crlf
*.cjs      text linguist-vendored
*.go       text
*.gz       binary
*.js       text linguist-vendored
*.json     text
*.lock     binary
*.md       text diff=markdown
*.mjs      text linguist-vendored
*.sh       text eol=lf
*.svg      text
*.yaml     text
*.yml      text
go.mod     text
go.sum     text
LICENSE    text
Makefile   text
