# Miscellaneous
.DS_Store
*.env
*.log
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
/.github/prompts/
$RECYCLE.BIN/
Thumbs.db
UserInterfaceState.xcuserstate

.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.history/
*.vsix
.claude/
.cursor/*

# Go
.go-version
/.gocache/
/.gomodcache/
/.gotmp/
/cover.out
/coverage.out
/dist/
/public/
/vendor/
