name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          make_latest: true

  update-go-proxy:
    runs-on: ubuntu-latest
    needs: create-release
    steps:
      - name: Notify Go Proxy
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "Notifying Go Proxy for version $VERSION..."
          curl "https://proxy.golang.org/github.com/${{ github.repository }}/@v/$VERSION.info"
