name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: true
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - name: Download dependencies
        run: go mod download
      - name: Vet source code
        run: GOEXPERIMENT=jsonv2 go vet ./...
      - name: Execute tests
        run: |
          GOEXPERIMENT=jsonv2 go test -v -cover -coverprofile=coverage.out ./...
          go tool cover -func=coverage.out -o=coverage.out
      - name: Go Coverage Badge
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: tj-actions/coverage-badge-go@v3
        with:
          filename: coverage.out
      - name: Create Pull Request for Badge
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "docs: update coverage badge"
          title: "Update Coverage Badge"
          body: "Updates the coverage badge based on the latest test results."
          branch: "docs/badge-update"
          base: "main"
          delete-branch: true
          labels: skip-changelog
